
$color-bg-primary: rgb(139, 165, 139);
$color-bg-secondary: rgb(85, 97, 85);
$color-bg-date: rgb(139, 165, 139);

$color-modal: rgb(106, 121, 106);


$color-font-dark: rgb(27, 26, 26);
$color-font-ligth: rgb(236, 227, 227);  
$color-font-ligth2: rgba(143, 138, 138, 0.637);  

$color-background: rgb(255, 255, 255); 

$color-wish-list-on: rgb(204, 29, 29); 
$color-wish-list-off: rgb(199, 194, 194); 
$color-wish-list-hover: rgb(238, 155, 155); 

$shadow0: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 5px;

/* REGISTER ALERT */
$color-alert-error: rgb(212, 96, 96) ;
$color-alert-success: rgb(96, 212, 96) ;


/* Botones OK y Cancel */
$color-ok-btn: rgb(41, 128, 59);
$color-ok-btn-hv: rgb(45, 150, 66);
$color-cancel-btn: rgb(102, 40, 40);

$color-wl-btn: rgb(158, 85, 85);
$color-wl-btn-hv: rgb(223, 28, 28);

/* Botones Edit / Delete / Cart / Order --- Admin Panel */
$color-delete:rgb(214, 116, 116);
$color-delete-hv:rgb(240, 10, 10);

$color-edit: rgb(137, 137, 207);
$color-edit-hv:rgb(10, 33, 240);