<header class="header">
    <nav class="navbar">
        <a href="/" class="navbar__nav-link">
            <img class="navbar__logo" src="/assets/logo.png" alt="Logo de la empresa">
        </a>

        <div id="user-navbar" class="user-navbar">

            <!-- WISH AND CART ICON -->

        </div>

        <!-- MENU HAMBURGUESA -->
        <input type="checkbox" class="navbar__menu-btn" id="menu-btn">
        <label for="menu-btn" class="navbar__menu-label">
            <span class="navbar__menu-icon"></span>
        </label>

        <ul class="navbar__nav-links-container">
            <li class="user-icons">
                <div id="user-navbar2" class="user-navbar2">

                    <!-- WISH AND CART ICON -->

                </div>
            </li>

            <li id="nav-inicio" class="navbar__nav-item">
                <a href="/" class="navbar__nav-link">Inicio</a>
            </li>
            <li id="nav-contacto" class="navbar__nav-item">
                <a href="/contact" class="navbar__nav-link">Contacto</a>
            </li>
            <li id="nav-nosotros" class="navbar__nav-item">
                <a href="/about-us" class="navbar__nav-link">Nosotros</a>
            </li>
            <!-- LOGIN Y REGISTRO -->
        </ul>
    </nav>

</header>