<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="mainAboutUs">
    <h1 class="titulo-h1">Nosotros!</h1>

    <p class="mainAboutUs__title">RANSON & WILDER(EST. 1991)</p>

    <div class="mainAboutUs__containerGeneral">
        <div class="mainAboutUs__container1">
            <img class="mainAboutUs__storeImage image1" src="/assets/img/picStore1.jpg" alt="Foto del local">


            <p class="mainAboutUs__about-us-p">
                IMPORTED AMERICAN VINTAGE CLOTHING IN AUSTRALIA, WITH OVER 7000 ITEMS ON DISPLAY.
                RANSON & WILDER IS A UNIQUE VINTAGE RETAIL STORE WITH THE LARGEST COLLECTION OF IMPORTED AMERICAN
                VINTAGE CLOTHING IN LOS ANGELES, AND IS SITUATED ON THE ICONIC TOURIST PRECINCT OF BRUNSWICK STREET,
                FITZROY.
          
                RANSON & WILDER RETAIL STORE IS A VISUAL ART WORK IN PROGRESS, FROM THE ORIGINAL 40’S AND 50’S
                LEVI’S LEE AND WRANGLER U.S.A. DENIM ADVERTISING BANNERS THAT ADORN THE BLUESTONE WALLS TO THE CELEBRITY
                DENIM
                HAND PAINTED ARTWORK JEANS SUCH AS GENE SIMMONS JEANS FROM “KISS” AND THE LONGEST LEVI JEANS IN
                AUSTRALIA,
                OFFERING A SPECIAL GLIMPSE INTO THE WORLD OF THE RARE AND FAMOUS.
           
                WITH OVER 100 STYLES AND OVER 7000 TRANS- SEASONAL PIECES ON OFFER, THERE IS SOMETHING FOR EVERYONE.
            </p>

        </div>

        <div class="mainAboutUs__container2" >

            <p class="mainAboutUs__about-us-p">
                WE STOCK THE LARGEST SELECTION OF THE LATEST USA STREETWEAR BRANDS FROM THE 80’S AND 90’S, SPECIALISING
                IN LEVI,
                LEE, WRANGLER DENIM JACKETS, LEVI 501 JEANS, LEVI AND LEE WOMEN’S 1980’S /90’S HI FIT JEANS, DENIM
                SHORTS AND
                DENIM OVERALLS, RALPH LAUREN AND TOMMY HILFIGER L/S POLO’S ,ASSORTED PRINTED CREW SWEATS, USA HARLEY
                DAVIDSON,
                DISNEY, USA TOUR ROCK TEES, NBA, NFL, NHL, MBL, AND CARHARTT, TO NAME A FEW.
        
                AMERICAN VINTAGE SPECIALISES IN COWBOY BOOTS, MOTORCYCLE BOOTS, AND MADE IN ENGLAND DR MARTENS WITH OVER
                500
                BOOTS ON DISPLAY.
            </p>

            <img class="mainAboutUs__storeImage image2" src="/assets/img/picStore2.jpg"  alt="Foto del local">
        </div>

    </div>

</main>

<%- include('partials/footer') %>
<script src="/js/general.js"></script>
<script src="/js/render.js"></script>
</body>
</htlm>
