html
{
  scroll-behavior: smooth;
  font-size: 16px;
}

.cards-container{
    //justify-content: center;
    //display: grid;
    //gap: 10px;
    //grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
} 

.whatsapp-container{
    position: fixed;
    bottom: 15px;
    left:20px;
    z-index: 10;
    &__img{
        width: 80px;
        filter: grayscale(90%);
    }
    &__img:hover{
        width: 80px;
        filter: grayscale(20%);
    }
}

.swipe-up{
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 10;
    transition:opacity .17s ease;
    &__img{
        width: 60px;
        filter: grayscale(90%);
    }
    &__img:hover{
        width: 60px;
        filter: grayscale(20%);
    }
}