.mail-container, .password-container{
    display: flex;
    flex-direction: column;

    &__label{
        margin-top: 5px;
    }
    &__input{
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: none;
        margin-top: 5px;
    }
}

.login-form{
    width: auto;
}