.order {
    

    &__detail {
        width: 100%;
        color: $color-font-ligth;
        text-align: center;
        background-color: $color-font-ligth2;
        display: flex;
    flex-direction: row;
justify-content: space-around;
padding: .5rem;
    }
}