/* REGISTER ALERT */
/* Botones OK y Cancel */
/* Botones Edit / Delete / Cart / Order --- Admin Panel */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hiden-item {
  display: none;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-navbar {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
  color: rgb(236, 227, 227);
  align-items: center;
  padding-right: 2rem;
  order: 3;
}
.user-navbar__icon-container {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
  color: rgb(236, 227, 227);
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
}
.user-navbar__user-avatar {
  display: flex;
  flex-direction: column;
  color: rgb(236, 227, 227);
  width: 2rem;
  cursor: pointer;
  align-items: center;
  border-radius: 100%;
}
.user-navbar__user-name {
  padding: 4px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: rgb(85, 97, 85);
  top: 6rem;
  text-align: center;
  margin-top: 0.2rem;
}
.user-navbar__cart-counter {
  padding: 4px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: rgb(85, 97, 85);
  top: 6rem;
  width: 36px;
  text-align: center;
  margin-top: 0.2rem;
}

.user-navbar2 {
  display: none;
}

.navbar {
  background-color: rgb(139, 165, 139);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.navbar__logo {
  height: 150px;
  margin-left: 0rem;
}
.navbar__menu-label {
  color: rgb(236, 227, 227);
  /* margin-left: auto; */
  height: 100%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 150px);
}
.navbar__menu-icon {
  height: 3px;
  background-color: rgb(236, 227, 227);
  width: 18px;
  position: relative;
  margin-top: 1rem;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 3px;
  background-color: rgb(236, 227, 227);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 150px;
  background-color: rgb(139, 165, 139);
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__nav-item {
  padding: 0.75rem 1rem;
  color: rgb(236, 227, 227);
  font-size: 18px;
  border-bottom: 3px solid rgb(85, 97, 85);
  /* &:not(:last-child){
      border-bottom: 1px solid $color-bg-secondary;
  }  */
}
.navbar__nav-link {
  color: rgb(236, 227, 227);
}
.navbar__nav-link:hover {
  color: rgb(85, 97, 85);
}
.navbar__nav-link:active {
  color: rgb(85, 97, 85);
}

@media screen and (min-width: 905px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 45px;
  }
  .navbar__logo {
    height: 150px;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 560px) {
  .user-navbar {
    display: none;
  }
  .user-navbar2 {
    display: flex;
    flex-direction: row;
    color: rgb(236, 227, 227);
    width: 100%;
    justify-content: space-around;
  }
  .user-icons {
    display: flex;
    width: 100%;
  }
  .navbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
.dropdown {
  display: inline-block;
  position: static;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  overflow: auto;
  background-color: rgb(85, 97, 85);
  right: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: rgb(236, 227, 227);
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(85, 97, 85);
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__center {
  text-align: center;
}
.footer__contact-item {
  list-style: none;
}
.footer__logo {
  height: 5rem;
  filter: invert(100%);
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  display: inline-block;
  font-size: 0.8rem;
}
.footer__company-name {
  color: rgb(199, 194, 194);
  font-size: 1rem;
}
.footer__copyrigth {
  color: rgb(199, 194, 194);
  font-size: 0.8rem;
}
.footer .footer__contact-icon {
  font-size: 1.2rem;
  padding-right: 0.5rem;
}
.footer .footer__contact-icon--facebook {
  color: #38529a;
}
.footer .footer__contact-icon--instagram {
  color: #f14d59;
}
.footer .footer__contact-icon--linkedin {
  color: #0077b6;
}

@media screen and (min-width: 600px) {
  .footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
.main {
  padding: 1.5rem;
  color: rgb(27, 26, 26);
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button__cancel {
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  background-color: rgb(102, 40, 40);
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  text-align: center;
}
.button__ok {
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  margin-right: 0.8rem;
  background-color: rgb(41, 128, 59);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button__ok:hover {
  background-color: rgb(45, 150, 66);
}
.button__wl {
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  background-color: rgb(158, 85, 85);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button__wl:hover {
  background-color: rgb(223, 28, 28);
}

.card {
  /* margin: 1rem;
  border: 0px solid $color-font-dark;
  box-shadow: $shadow0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  max-width: 290px; */
  border-radius: 5px 5px 0 0;
  border: 0px solid rgb(27, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 290px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  margin: 1rem;
  /*    &__description:hover {
        overflow-x: hidden;
        overflow-y: auto;
     } */
}
.card__header {
  height: 200px;
  background-color: rgb(236, 227, 227);
  border-radius: 5px 5px 0 0;
}
.card__heart {
  position: relative;
  color: rgb(199, 194, 194);
}
.card__heart i {
  position: absolute;
  right: 0;
  padding: 1rem;
  font-size: 1.8rem;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  z-index: 2;
}
.card__heartWishOn {
  color: rgb(204, 29, 29);
}
.card__heart:hover {
  color: rgb(238, 155, 155);
}
.card__heart:active {
  color: rgb(204, 29, 29);
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.card__img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-out;
  transform: scale(1.3);
  overflow: visible;
}
.card__body {
  padding: 1rem;
  margin-bottom: 1rem;
}
.card__title {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  border-bottom: 2px solid rgb(27, 26, 26);
  height: 3.6rem;
}
.card__description {
  padding: 1rem 0;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  height: 3rem;
  color: rgb(27, 26, 26);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
}
.card__price {
  /*       text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: -2.5rem;
  margin-bottom: 1.3rem;
  color: $color-bg-primary; */
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: -4.5rem;
  color: rgb(139, 165, 139);
}
.card__btn-container-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__btnTextDet {
  display: inline;
  visibility: hidden;
}
.card__btnTextCart {
  display: inline;
  visibility: hidden;
}
.card__btn-cart {
  position: relative;
  right: -4.8rem;
  cursor: pointer;
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 0.8rem;
}
.card__btn-cart:hover, .card__btnTextCart {
  right: 0rem;
  transition: all 0.3s ease-out;
  background-color: rgb(27, 26, 26);
  visibility: visible;
}
.card__btn {
  position: relative;
  right: 4.5rem;
  cursor: pointer;
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
  padding: 1rem;
  border-radius: 0px 10px 10px 0px;
}
.card__btn:hover, .card__btnTextDet {
  right: 0rem;
  transition: all 0.3s ease-out;
  background-color: rgb(27, 26, 26);
  visibility: visible;
}
.card__date {
  /* visibility: hidden; */
  /* background-color: $color-bg-date;
  color: $color-font-ligth;
  text-align: center;
  font-weight: bold;
  font-size: .8rem;
  padding: .2rem; */
  color: rgba(143, 138, 138, 0.637);
  text-align: right;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.whish-list-on {
  color: rgb(204, 29, 29);
}

.whish-list-off {
  color: rgb(199, 194, 194);
}

.fa-cart-shopping,
.fa-circle-info {
  padding-left: 8px;
  padding-right: 8px;
}

.section-cards {
  display: block;
}
.section-cards__header {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.section-cards__title {
  color: rgb(27, 26, 26);
  font-size: 1.8rem;
  background-color: rgb(255, 255, 255);
}
.section-cards__subtitle {
  color: rgb(27, 26, 26);
  font-size: 0.8rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}
.section-cards__products-count {
  padding: 0.6rem;
  font-size: 0.8rem;
}
.section-cards__products-search-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.section-cards__search-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(143, 138, 138, 0.637);
  padding: 0.5rem;
  border-bottom: 3px solid rgb(139, 165, 139);
}
.section-cards__orderby {
  border: none;
  padding: 0.3rem;
  outline: 1px solid rgba(143, 138, 138, 0.637);
  height: 1.5rem;
}

.product-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* ANIMACION LUPA */
}
.product-search__input {
  outline: none;
  border: 1px solid rgb(85, 97, 85);
  border-radius: 5px 0 0 5px;
  padding: 0.6rem;
  width: 50%;
  color: rgb(27, 26, 26);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3137254902);
  background-color: rgb(255, 255, 255);
  padding-left: 2.6rem;
}
.product-search__btn {
  border: 1px solid rgb(85, 97, 85);
  background-color: rgb(85, 97, 85);
  color: rgb(255, 255, 255);
  border-radius: 0 20px 20px 0;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3137254902);
  cursor: pointer;
}
.product-search__btn:hover {
  border: 1px solid rgb(85, 97, 85);
  background-color: rgb(255, 255, 255);
  color: rgb(85, 97, 85);
}
.product-search__icon {
  display: flex;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: -2.6rem;
  z-index: 1;
}
.product-search .product-search__icon:hover {
  transition: all 0.8s ease-out;
  transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
  .product-search__input {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .product-search__input {
    width: 90%;
    font-size: medium;
    font-weight: 500;
    padding-top: 0.8rem;
    padding-left: 2.6rem;
  }
}
.alert {
  position: relative;
  position: fixed;
  width: 300px;
  align-items: center;
  opacity: 0.9;
  z-index: 9999;
  align-items: center;
  margin-top: 3rem;
  right: 20px;
}
.alert__error {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: rgb(212, 96, 96);
  color: rgb(236, 232, 232);
}
.alert__sussecs {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(96, 212, 96);
  color: rgb(236, 232, 232);
}
.alert__title {
  font-size: 1rem;
  padding: 1rem;
}
.alert__description {
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
}
.alert__hide {
  opacity: 0;
  display: none;
}
.alert__button {
  position: absolute;
  cursor: pointer;
  color: rgb(243, 234, 234);
  top: 0.2rem;
  right: 0.5rem;
}

.modalQuestion {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 20;
  justify-content: center;
  align-items: center;
}
.modalQuestion__contenido {
  background-color: rgb(212, 96, 96);
  padding: 20px;
  border-radius: 5px;
  margin: auto;
}
.modalQuestion__text, .modalQuestion__title {
  text-align: center;
  font-size: 1rem;
  color: rgb(236, 227, 227);
  margin-bottom: 1rem;
}
.modalQuestion__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  margin: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgb(236, 227, 227);
  font-size: 1.4rem;
}

.form-container {
  position: relative;
}

@keyframes drop-modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes hide-modal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.modal-index {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-index__container {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: rgb(106, 121, 106);
  width: 90vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.modal-index__container__close {
  font-size: 1.8rem;
  color: rgb(236, 227, 227);
  position: absolute;
  top: 4px;
  right: 10px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.article {
  padding: 0.8rem;
  width: 100%;
}
.article__name-product {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  color: rgb(236, 227, 227);
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.article__body {
  display: flex;
  flex-direction: row;
}
.article__column1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.article__image {
  max-width: 100%;
  max-height: 55vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.article__column2 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.article__description {
  color: rgb(236, 227, 227);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: start;
  font-size: 1rem;
  overflow-y: scroll;
  margin: 1rem;
  height: 10rem;
  border-bottom: 1px solid rgb(85, 97, 85);
  border-top: 1px solid rgb(85, 97, 85);
  padding: 1rem 1rem 1rem 0;
}
.article__price {
  color: rgb(236, 227, 227);
  font-size: 2rem;
  text-align: center;
}

.cart-containter {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cart-containter__label {
  color: rgb(236, 227, 227);
}
.cart-containter__qnty {
  width: 3.5rem;
  text-align: center;
  padding: 0.5rem;
  border: none;
  outline-style: none;
  font-size: 1rem;
}
.cart-containter__del:hover, .cart-containter__add:hover {
  background-color: rgba(143, 138, 138, 0.637);
  color: rgb(27, 26, 26);
}
.cart-containter__del, .cart-containter__add {
  color: rgb(236, 227, 227);
  background-color: rgb(85, 97, 85);
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.cart-containter__del {
  border-radius: 5px 0 0 5px;
}
.cart-containter__add {
  border-radius: 0 5px 5px 0;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-inline: 0.5rem;
}

/* ESTILO DEL INPUT TEXT, PARA QUITAR LAS FLECHITAS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ------------------------------------------------ */
/* ESTILO SCROLLBAR DE LAS DESCRIPCIONES EL EL CONTENEDOR DEL MODAL */
p::-webkit-scrollbar, .modal-index__container::-webkit-scrollbar {
  width: var(--scroll-size, 8px);
  height: var(--scroll-size, 8px);
}

p::-webkit-scrollbar-thumb, .modal-index__container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, rgb(85, 97, 85));
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
  --scroll-size: 5px;
  --scroll-radius: 5px;
}

@media screen and (max-width: 900px) {
  .modal-index {
    height: 100%;
    width: 100%;
  }
  .modal-index__container {
    height: 80%;
    width: 90%;
    overflow-y: scroll;
  }
  .article__column1 {
    width: 90%;
  }
  .article__column2 {
    width: 90%;
  }
  .article__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-containter__label {
    margin-bottom: 0.8rem;
  }
  .cart-containter__addCart {
    margin: 1rem;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.whatsapp-container {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 10;
}
.whatsapp-container__img {
  width: 80px;
  filter: grayscale(90%);
}
.whatsapp-container__img:hover {
  width: 80px;
  filter: grayscale(20%);
}

.swipe-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  transition: opacity 0.17s ease;
}
.swipe-up__img {
  width: 60px;
  filter: grayscale(90%);
}
.swipe-up__img:hover {
  width: 60px;
  filter: grayscale(20%);
}

.main-contact {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
.main-contact__map {
  width: 50%;
  padding: 0.8rem;
}
.main-contact__form {
  width: 50%;
  padding: 0.8rem;
}

.contact-form {
  background-color: rgb(139, 165, 139);
  padding: 2rem;
  align-items: center;
}
.contact-form__item {
  padding: 5px;
}
.contact-form__btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-left: 0.3rem;
}

.titulo-h1 {
  margin-top: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 2px solid rgb(139, 165, 139);
  font-weight: 100;
  color: rgb(85, 97, 85);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.field-container__label {
  padding: 0.5rem;
}
.field-container__input {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  width: 100%;
}
.field-container__input:focus {
  border: none;
  outline: 2px ridge rgb(139, 165, 139);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.field-container__btn {
  padding: 5px;
}
.field-container__area {
  height: 8rem;
}

iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .main-contact {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .main-contact__map {
    width: 100%;
  }
  .main-contact__form {
    width: 100%;
  }
}
.section {
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 1.5rem;
  background-color: rgb(139, 165, 139);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50vw;
  border-radius: 5px;
}
.form-container__item {
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.form-container__itemGender {
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
}
.form-container__button {
  text-align: center;
}
.form-container__label {
  margin-top: 5px;
}
.form-container__input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  margin-top: 5px;
  border: none;
  outline: none;
}
.form-container__textarea {
  width: 100%;
  height: 5rem;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

.born-country-container__country {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
}

.gender-container {
  padding: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gender-container__sec {
  display: inline-flex;
}
.gender-container__label {
  padding: 0.3rem;
}

.therms-container {
  padding: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.therms-container__label {
  margin-left: 0.5rem;
}

.err {
  box-shadow: 0px 0px 3px 1px red;
}

.register__button {
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  background-color: rgb(85, 97, 85);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 90vw;
  }
}
@media only screen and (max-width: 900px) {
  .form-container {
    width: 70vw;
  }
}
.mainAboutUs {
  padding: 1.5rem;
  color: rgb(27, 26, 26);
}
.mainAboutUs__title {
  font-size: 2rem;
  text-align: center;
  padding: 0.8rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(27, 26, 26);
}
.mainAboutUs__containerGeneral {
  display: flex;
  flex-direction: column;
}
.mainAboutUs__container1 {
  display: flex;
  flex-direction: row;
}
.mainAboutUs__container2 {
  display: flex;
  flex-direction: row;
}
.mainAboutUs__about-us-p {
  padding: 1rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainAboutUs__storeImage {
  height: 50%;
  width: 50%;
  border-radius: 8px;
  filter: grayscale(90%);
}
.mainAboutUs__storeImage:hover {
  filter: grayscale(10%);
}

@media screen and (max-width: 905px) {
  .mainAboutUs__container1 {
    display: flex;
    flex-direction: column;
  }
  .mainAboutUs__container2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainAboutUs__storeImage {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}
.row-cart-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}

#deleteart {
  position: absolute;
  color: rgb(172, 52, 52);
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  width: 100%;
  border-bottom: rgba(143, 138, 138, 0.637) solid 1px;
  align-items: center;
}
.row__pic {
  position: relative;
  height: 100%;
  height: 7rem;
}
.row__pic img {
  height: 100%;
}
.row__description {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 50%;
  color: rgb(27, 26, 26);
}
.row__quantity {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 1rem;
  width: 15%;
}
.row__quantity input {
  font-size: 1rem;
  padding: 5px;
  width: 4rem;
  border: none;
  text-align: center;
  border-radius: 5px;
  border: rgba(143, 138, 138, 0.637) solid 1px;
  color: rgb(27, 26, 26);
}
.row__quantity input:focus {
  outline: none;
}
.row__quantity input:active {
  outline: none;
}
.row__price {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 15%;
}
.row__partial-amount {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 15%;
}

.quantity-container {
  height: 2rem;
}

.total-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  padding: 0.8rem;
}
.total-row__title {
  font-size: 2rem;
  color: rgb(27, 26, 26);
}

.order {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.order__button {
  width: 20rem;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .row__partial-amount {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0.5rem;
  }
  .row__description {
    width: 80%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .row-cart-detail {
    align-items: flex-start;
    width: 100%;
  }
  .total-row {
    text-align: center;
  }
  #deleteart {
    position: absolute;
    color: rgb(172, 52, 52);
    left: 5px;
    top: 5px;
    cursor: pointer;
  }
}
.mail-container, .password-container {
  display: flex;
  flex-direction: column;
}
.mail-container__label, .password-container__label {
  margin-top: 5px;
}
.mail-container__input, .password-container__input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  margin-top: 5px;
}

.login-form {
  width: auto;
}

.section-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding: 2rem;
  border-radius: 0 0 10px 10px;
  background-color: rgb(139, 165, 139);
}
.user__pic {
  height: 150px;
  width: 150px;
  position: relative;
  margin-bottom: 0.5rem;
}
.user__pic img {
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.user__pic label {
  position: absolute;
  color: rgb(236, 227, 227);
  right: -10px;
  top: 10px;
  cursor: pointer;
}
.user__title {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(236, 227, 227);
  padding: 5px;
  border-radius: 5px;
}
.user__container {
  position: relative;
  background-color: rgb(85, 97, 85);
  border-radius: 5px 5px 0 0;
  padding: 0.3rem;
  width: 35vw;
}
.user__description {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(143, 138, 138, 0.637);
  color: rgb(236, 227, 227);
  text-transform: capitalize;
  padding: 0.3rem;
  border-radius: 5px;
  width: 35vw;
  text-align: center;
}
.user__name, .user__email, .user__gender, .user__born-date, .user__country, .user__password {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  border-radius: 0 0 5px 5px;
}
.user__edit {
  position: absolute;
  color: rgb(236, 227, 227);
  cursor: pointer;
  right: 5px;
}

.user-title {
  text-align: center;
  border-radius: 10px 10px 0 0;
  width: 40vw;
  background-color: rgb(85, 97, 85);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(236, 227, 227);
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
  }
  .user__container {
    width: 90vw;
  }
  .user__description {
    width: 99vw;
  }
  .user-title {
    width: 90vw;
  }
}
@media screen and (max-width: 1000px) {
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }
  .user__container {
    width: 65vw;
  }
  .user__description {
    width: 65vw;
  }
  .user-title {
    width: 70vw;
  }
}
#email {
  text-transform: lowercase;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.submit__button-cancel {
  width: 40%;
}
.submit__button-save {
  width: 40%;
}

/* -------------------------------------------- ADMIN PROFILE ----------------------------------------- */
.tabButtons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
}

.tab-art,
.tab-usr,
.listArt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchOption {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.arts-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vh;
}
.arts-options__new-art {
  cursor: pointer;
  margin-left: 0.5rem;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
}

.buttons-containter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.arts-container {
  display: flex;
  flex-direction: column;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
}
.order-container__order-header, .order-container__statusAmount {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.order-container__options {
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search__input {
  border: 1px solid rgb(27, 26, 26);
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 2rem;
  width: 20rem;
  padding: 6px;
}
.search__button {
  cursor: pointer;
  margin-left: 0.5rem;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
}

.fullRow {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  width: 95vw;
  border-bottom: rgba(143, 138, 138, 0.637) solid 1px;
  align-items: center;
}
.fullRow__pic {
  position: relative;
  height: 7rem;
  width: 15rem;
  text-align: center;
}
.fullRow__pic img {
  height: 95%;
}
.fullRow__title {
  font-size: 0.9rem;
  height: 2rem;
  text-align: center;
}
.fullRow__description {
  font-size: 0.9rem;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: 2rem;
  width: 80%;
  color: rgb(27, 26, 26);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fullRow__price {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 1rem 0 1rem;
}
.fullRow .section-cards__orderby {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fullRow__user-pic {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  width: 80%;
  align-items: center;
  position: relative;
  height: 100%;
  height: 7rem;
}
.fullRow__user-pic img {
  height: 100%;
  border-radius: 100%;
}
.fullRow__role {
  font-weight: bold;
  padding: 1rem;
}

.btn {
  padding: 0.5rem;
  margin: 0.2rem;
  cursor: pointer;
}

.buttons-containter {
  padding: 0.3rem;
  border: none;
  margin-left: 1rem;
  /* USERS */
}
.buttons-containter__edit, .buttons-containter__order, .buttons-containter__wishlist, .buttons-containter__cart {
  color: rgb(137, 137, 207);
  width: 6rem;
}
.buttons-containter__edit:hover, .buttons-containter__order:hover, .buttons-containter__wishlist:hover, .buttons-containter__cart:hover {
  color: rgb(10, 33, 240);
}
.buttons-containter__delete {
  width: 6rem;
  color: rgb(214, 116, 116);
}
.buttons-containter__delete:hover {
  color: rgb(240, 10, 10);
}
.buttons-containter__delete:hover {
  color: rgb(240, 10, 10);
}

.art__pic {
  height: 50%;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.art__pic img {
  max-width: 25vw;
  max-height: 25vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.orderButton {
  width: 10rem;
  height: 2.3rem;
  margin: 0.2rem;
  text-align: center;
}

.tabButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.tablinks {
  padding: 0.5rem;
  width: 33%;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 650px) {
  .fullRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .fullRow__pic {
    position: relative;
    height: 15rem;
    width: 100%;
    max-height: 20rem;
    text-align: center;
  }
  .fullRow__pic img {
    height: 95%;
  }
  .fullRow__user-pic {
    justify-content: center;
  }
  .fullRow__title {
    padding: 1rem;
  }
  .fullRow__description {
    padding: 2rem;
    text-align: center;
  }
  .fullRow__price {
    padding: 1rem;
  }
  .tabButtons {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .tablinks {
    padding: 0.5rem;
    width: 80%;
    margin-bottom: 0.5rem;
  }
  .searchOption {
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgb(27, 26, 26);
    border-bottom: 1px solid rgb(27, 26, 26);
  }
  .arts-options__new-art, .arts-options__button, .arts-options__new-usr,
  .user-options__new-art,
  .user-options__button,
  .user-options__new-usr {
    margin: 1rem 1rem 1rem 1rem;
  }
  .search {
    margin: 0rem 1rem 1rem 1rem;
    height: 2rem;
  }
  .orderBy {
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem 1rem 1rem;
  }
}
#tab3 {
  display: flex;
  flex-direction: column;
}

.order__detail {
  width: 100%;
  color: rgb(236, 227, 227);
  text-align: center;
  background-color: rgba(143, 138, 138, 0.637);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}/*# sourceMappingURL=main.css.map */